@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default
};
@plugin "daisyui/theme" {
  name: "abyss";
  default: true;
  --radius-field: 7px;
}

/* dim, sunset, night, silk, caramellatte, forest */